@import "tailwindcss";

@layer components{  
    .button-left{
        @apply absolute top-1/2 -translate-y-1/2 left-2 z-10 bg-blue-600 text-white p-3 rounded-full shadow hover:bg-blue-700 transition;
    }
    .button-right{
        @apply absolute top-1/2 -translate-y-1/2 right-2 z-10 bg-blue-600 text-white p-3 rounded-full shadow hover:bg-blue-700 transition;
    }

    .card3d, .card3{
        width: 320px;
        height: 800px;

        border-radius: 1rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transform-style: preserve-3d;
        transform-origin: center center;
        transform: translate(-50%, -50%);

        opacity: 0.1;
        transition: transform 1s ease, opacity 0.6s ease, filter 0.6s ease;
    }

    .carousel-3d {
        position: relative;
        width: 100%;
        height: 350px;
        transform-style: preserve-3d;
        transition: transform 1s ease;
        display: block;
        margin: 0 auto;
        perspective: 1200px;
        overflow: visible;
        text-align: center;
    }

    .card3d.active, .card3.active{
        transform: translateZ(150px) scale(1.1);
        z-index: 10;
    }

    .card3d.left, .card3.left {
        transform: rotateY(25deg) translateX(-100px) translateZ(-80px) scale(0.9);;
        opacity: 0.8;  
        z-index: 1;
    }

    .card3d.right, .card3.right {
        transform: rotateY(-25deg) translateX(100px) translateZ(-80px) scale(0.9);
        opacity: 0.8;
        z-index: 1;
    }

    .card3d.hidden, .card3.hidden {
        transform: translateZ(-200px) rotateY(90deg) scale(0.8);
        opacity: 0;
        z-index: 0;
    }
}
