section h1.su2  {
    display: block;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 3em;

    padding:10%;
}

.mns{
    background-color: rgba(112, 112, 111, 0.082);
}

.mns h1{
    padding: 2%;
    font-size: 2em;
}

.soin{
    display: grid;
    grid-template-columns: 1fr auto;
}

.inf{
    padding: 8vh;
    font-size: 1.3em;
}

#me{
    padding-left: 10%;
    width: 30vw;
    height: 40vh;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%; 
}

.logos img{
    width: 40px; height: 40px;
    transition: transform 0.3s ease-in-out;
}

.logos img:hover {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    .soin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #me {
        width: 70vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px; /* Espaçamento uniforme entre os logos */
        flex-wrap: wrap; /* Permite que os logos se ajustem caso a tela seja muito pequena */
        margin-top: 20px;
        width: 100%; /* Garante que a seção ocupe toda a largura disponível */
    }

    .logos a {
        margin: 0 10px;
    }
}
